
/* -------------------- Général -------------------- */

body
{
	position: relative;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #181818;
	margin-top: 0;
	margin-left: 0.3em;
	margin-right: 0.3em;
}


section h1, footer h1, nav button
{
    font-family: 'Arial Black', Gadget, sans-serif;
    color: #cc3333;
    text-transform: uppercase;
}

/* -------------------- Header -------------------- */

#titre_principal
{
	width: auto;
	height:120px;
	text-align:center;
	
	/*Génération d'un dégradé en CSS 3*/
	background-image: linear-gradient(top, rgb(242,194,61) 19%, rgb(176,44,44) 100%);
	background-image: -o-linear-gradient(top, rgb(242,194,61) 19%, rgb(176,44,44) 100%);
	background-image: -moz-linear-gradient(top, rgb(242,194,61) 19%, rgb(176,44,44) 100%);
	background-image: -webkit-linear-gradient(top, rgb(242,194,61) 19%, rgb(176,44,44) 100%);
	background-image: -ms-linear-gradient(top, rgb(242,194,61) 19%, rgb(176,44,44) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.19, rgb(242,194,61)),
		color-stop(1, rgb(176,44,44))
	);
}

#titre_principal h1
{
	font-size: 2.5em;	
}

#photo
{
	height: 85px;
	border-radius: 0.5em;
}

p, header h2, #titre_principal h1
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
}

header h1
{
	text-align: center;
	font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}

header h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-weight: normal;
    vertical-align: bottom;
}

/* -------------------- Navigation -------------------- */

nav
{
	height: 2em;
    text-align: center;
	background-color: rgb(176,44,44);
	margin-top:0;
	padding-bottom: 5px;
	border-radius: 0 0 2em 2em;
}

nav a {
	background: none;
	border :none;
    font-size: 1.3em;
    color: #181818;
	margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001
}

/* -------------------- Liens -------------------- */

#liens{
	width: 220px;
	float: left;
}

#liens p {
    font-size: 0.8em;
}

#liens h1 {
    font-size: 1.1em;
    margin-left: -0.8em;
    padding-left: 1.1em;
    background: #ccc;
    border-radius: 0 2em 2em 0;
    box-shadow: 0px 2px 5px #1c1a19;
    transform-origin: -10% 50%;
    -ms-transform-origin: -10% 50%; /* IE 9 */
	-webkit-transform-origin: -10% 50%; /* Safari and Chrome */
    transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
}

#liens li {
	list-style-type: none;
	height: 35px;
}

#liens .icone {
	height: 25px;
	margin-right : 15px;
	display: inline-block;
	vertical-align: middle;
}

/* -------------------- Corps -------------------- */

#contenu {
	margin: 0 auto;
	position: relative;
	width:650px;
	height: auto;
}

#contenu #vide {
	clear: both;
}

#Competences {
  top: -336px;
}

#Experience {
  top: -992px;
}

#Formation {
  top: -544px;
}

#Interets {
  top: -313px;
}

#Competences:target, #Experience:target, #Formation:target, #Interets:target {
  top: -160px;
}

section
{
	width:650px;
	background-color: #ccc;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 0 0 5px;
    padding: 0 1em;
    padding-top: 160px;
    font-size: 0.9em;
	position: absolute;
	overflow: hidden;
	top: -100%;
	z-index: -2;
	/*Transition en CSS 3 pour afficher les sections sélectionnées*/
	transition: top 2s ease;
	-moz-transition: top 2s ease; /* Firefox 4 */
	-webkit-transition: top 2s ease 0.1s; /* Safari and Chrome */
	-o-transition: top 2s ease; /* Opera */
}

section:target {
	z-index: -1;
}

section:target header {
	margin-top: 20px;
}

section header h1
{
	color: #C30;
	margin: 0;
}

section ul
{
	padding-right: 10px;
	text-align: left;
}

article
{
    clear: both;
	text-align: justify;
    width: 100%;
	font-size: 1em;
	margin-top: 15px;
}

article div.contenu
{
	float: left;
	width: 390px;
}

article h1
{
	text-align: center;
	font-size: 1.3em;
}

.logo
{
	float: left;
	margin: 0 1.3em 0 0;
    max-height: 50px;
	max-width: 120px;
}

article h2
{
	font-size: 1.3em;
	text-align: left;
}


aside
{
	clear: right;
	float: right;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px;
	font-size: 0.8em;
}

aside h1
{
	margin: 11px 0 0;
}

aside p
{
	margin-right: 11px;
}

/* -------------------- Compétences -------------------- */

#Competences li {
	width: 300px;
	float: left;
	margin-bottom: 10px;
}

#Competences .meter {
	display: inline-block;
	width: 100px;
	height: 15px;
	margin: 0 10px;
	background: #666;
	box-shadow: inset 0 0 2px 2px #555;
	border-radius: 2px;
}

#Competences .meter span {
	display: inline-block;
	position: relative;
	height: 13px;
    border: 1px solid #3db082;
    border-radius: 2px;
    background-image: linear-gradient(top, rgb(173,250,228) 0%, rgb(61,176,130) 100%);
	background-image: -o-linear-gradient(top, rgb(173,250,228) 0%, rgb(61,176,130) 100%);
	background-image: -moz-linear-gradient(top, rgb(173,250,228) 0%, rgb(61,176,130) 100%);
	background-image: -webkit-linear-gradient(top, rgb(173,250,228) 0%, rgb(61,176,130) 100%);
	background-image: -ms-linear-gradient(top, rgb(173,250,228) 0%, rgb(61,176,130) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(173,250,228)),
		color-stop(1, rgb(61,176,130))
	);
}​

:after
{
}

#Competences .meter span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 1;
	border-radius: 2px;
	background-image: -webkit-linear-gradient(
	  -45deg, 
      rgba(255, 255, 255, .2) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(255, 255, 255, .2) 50%, 
      rgba(255, 255, 255, .2) 75%, 
      transparent 75%, 
      transparent
   );
	background-image: -moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: -ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
}

/* -------------------- Footer -------------------- */

adress, #liens
{
	
}

footer
{	
	clear: both;
	width: 100%;
	bottom: 0;
	margin:auto;
}

